<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Acessum</title>
</head>
<body>
    <header><!--cabeçalho-->
        <div class="menu" name="menu">
            <nav>
                <!--menu-->
            </nav>
        </div>
    </header>
    <main>
        <!--conteudo-->
    </main>
    
</body>
<footer><!--rodapé-->
    Acessum desenvolvido por Automa Engenharia &#174;
</footer>
</html>